.hero-container {
  display: flex;
}

.hero-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: left;
  font-weight: bolder;
}

.hero-container p {
  font-size: 30px;
  text-align: right;
  color: var(--gray);
}

.hero-container > img {
  width: 80%;
  height: 80%;
  align-self: center;
}


@media only screen and (max-width: 420px) {
  .hero-container {
    flex-wrap: wrap;
    height: 100%;
  }

  .hero-container > div {
    width: 100%;
    height: 250px;
  }

  .hero-container > img {
    width: 100%;
    height: 100%;
  }

  .hero-container h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .hero-container p {
    font-size: 22px;
    text-align: center;
  }
  }
