@media only screen and (max-width: 420px) {
  body {
  flex-wrap: wrap;
  overflow-x: hidden;
  }

  .hero-container {
    flex-wrap: wrap;
    height: 100%;
  }

  .hero-container > div {
    width: 100%;
  }

  .hero-container > img {
    width: 100%;
  }

  .hero-container h1 {
    font-size: 36px;
    text-align: left;
    width: 100%;
  }

  .hero-container p {
    font-size: 22px;
    text-align: center;
  }

  .content-container {
    grid-template-columns: 1fr;
  }

  .description-container {
    flex-wrap: wrap;
    height: 100%;
  }

  .description-container h2,
  .description-container p {
    text-align: center;
  }

  .description-container > div {
    width: 100%;
    padding: 5%;
  }

  .description-container > div > div {
    width: 100%;
  }

  .description-container > img {
    width: 100%;
    height: 200px;
  }

  .what-is-container {
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column-reverse;
  }

  .what-is-container > div {
    width: 100%;
  }

  .what-is-container > div > div {
    width: 100%;
  }

  .what-is-container > img {
    width: 100%;
  }

  .what-is-container h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  .what-is-container p {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  nav > .nav-menu {
    display: none;
  }

  .card img {
    height: 200px;
  }

  .button-container {
    justify-content: center;
  }

  footer {
    flex-direction: column-reverse;
  }
}
